:root {
  --bkg: white;
  --outlines: white;
}

/* Tags */

body {
  margin: 0;
  background-color: var(--bkg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Roboto';
}

h2, h3, p {
  margin: 0 1vh 0 1vh;
}

input {
  background-color: lightgrey;
  border: 0;
}

paper-dialog {
  border-radius: 50px;
  z-index: 10;
  position: absolute;
  text-align: center;
  padding: 2vh;
  left: 30vw;
  top: 5vw;
  width: 30vw;
  height: 60vh;
}

/* Classes */

.form-input {
  font-size: 12px;
}

.big-button {
  font-size: 12px;
  width:25px;
}

.mini-button {
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
}

.App {
  display: flex;
}

/* IDs */

#app-bkg {
  background-image: url(leaves.jpg);
  filter: blur(10px) opacity(50%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#sidebar {
  background-color: var(--bkg);
}

#map {
  width: inherit;
  height: inherit;
  background-color: var(--bkg);
  border: 2px solid var(--outlines);
}